@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/* للمتصفحات اللي بتستخدم Webkit مثل Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 2px;
}
body {
  width: 99vw;
  
}
::-webkit-scrollbar-track {
  background: #87469c;
}

::-webkit-scrollbar-thumb {
  background-color: #87469c;
  border-radius: 20px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* دعم Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #a053baba #87469c23;
}
